<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Loan Application</title>
        
        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/creative.min.css" rel="stylesheet">
        <link href="../images/logo-small.png" rel="icon"/>
    </head>

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Fitness Companion</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#title">Title</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#registration">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#aboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="privacyPolicy.html#privacyPolicy">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#" data-toggle="modal" data-target="#exampleModalCenter">Login</a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1>
                            <strong>Loan Application</strong>
                        </h1>
                        <hr>
                    </div>
                    <div class="col-lg-8 mx-auto">
                        <p class="text-faded mb-5" style="color:rgba(255,255,255,1);">Everyone can be <strong>RICH</strong></p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#title">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>

        <section class="bg-primary" id="title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading text-white">What is Loan Application?</h2>
                        <hr class="light my-4">
                        <p class="text-faded mb-4" style="text-align: justify">
                           Loan Application provided a platform for those people who face insufficient of money
                           to provided them loan. Loan Application provided all the customer how they have need
                           to borrow, how to deal with it.
                        </p>
                        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Understand More!</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Loan Application Services</h2>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
                            <h3 class="mb-3">Personal Tracking</h3>
                            <p class="text-muted mb-0">We tracking your data for perform summarization for you.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
                            <h3 class="mb-3">professional of calculation</h3>
                            <p class="text-muted mb-0">Able to extend, pay your bill with system calculated</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
                            <h3 class="mb-3">Up to Date</h3>
                            <p class="text-muted mb-0">No latency, No delay, available in 24 hour per day.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                            <h3 class="mb-3">Made with Love</h3>
                            <p class="text-muted mb-0">Love you mean want you to be healthy even psychologically.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-primary" id="registration">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading text-white">Guidance of Registration</h2>
                        <hr class="light my-4">
                        <p class="text-faded mb-4" style="text-align: center">
                            <b>1.&nbsp;&nbsp;</b> Go to Google's Play Store. <br/><br/>
                            <b>2.&nbsp;&nbsp;</b>Search "Fitness Companion" in the search bar. <br/><br/>
                            <b>3.&nbsp;&nbsp;</b>Download and launch the app. LINK: <a href="#" style="color:white">https://play.google.com/store/apps</a> <br/><br/>
                            <b>4.&nbsp;&nbsp;</b>Go to Google's Play Store. 
                        </p>

                    </div>
                </div>
            </div>
        </section>

        <section id="aboutUs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">About Loan Application</h2>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">

                    <p style="text-align:justify">
                        This app is made on intent of changing people's daily living habits to lead people towards a healthy and fit lifestyle.
                        Fitness Companion app allow people to use it to keep track exercise activities log, and also health's report.
                        User also can refer to the food nutrient that we provided, to manage the balanced nutrient should be consumed daily.
                        Health is one of the most important in a person life, a person with a good health condition can benefits from it. <br><br>
                        The benefits of exercise extend far beyond weight management. Research shows that regular physical activity can help reduce your 
                        risk for several diseases and health conditions and improve your overall quality of life. </br></br>
                        The team comprises of 2 student in Bachelor of IT education, working together with 
                        a supervisor from TARUC, Tunkul Abdul Rahman University College. The solution has been implemented and commercialized, successful results from 
                        Corporate Fitness Program whereby participants have shown remarkable weight loss of up to 10kg in 2 months. 
                        The ease of application and having a mobile buddy that tracks and motivates you towards positive behavioral changes has increased the demand for our app.
                    </p>
                </div>
            </div>
        </section>



        <section class="bg-dark text-white">
            <div class="container text-center">
                <h2 class="mb-4">  Copyright © Loan Application 2018 - 2019</h2>
            </div>
        </section>

        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Account Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a href="../Login/managementLogin.html"><button class="btn btn-xs btn-primary btn-lg btn-block">Management</button></a><br/>
                        <a href="../Login/trainerLogin.html"> <button class="btn btn-xs btn-primary btn-lg btn-block">Trainer</button></a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/creative.min.js"></script>

    </body>

</html>
