<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Fitness Companion</title>
<link href="../images/logo-small.png" rel="icon"/>
        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/creative.min.css" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Fitness Companion</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="index.html#title">Title</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="index.html#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="index.html#registration">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="index.html#aboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#privacyPolicy">Privacy Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#" data-toggle="modal" data-target="#exampleModalCenter">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1>
                            <strong>Fitness Companion</strong>
                        </h1>
                        <hr>
                    </div>
                    <div class="col-lg-8 mx-auto">
                        <p class="text-faded mb-5" style="color:rgba(255,255,255,1);">Everyone can be <strong>FIT</strong></p>
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#privacyPolicy">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </header>



        <section id="privacyPolicy">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Privacy Policy</h2>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div id="privacy" style="text-align: justify">
                        <p>
                            <b>  Privacy Policy</b><br/>    
                            By using Fitness Companion (the mobile app), I agree that I am deemed as ‘the User’ and I consent to and agree to be bound by all the terms and conditions as set out under the Tunku Abdul Rahman University College Privacy Policy.
                            Pursuant and subject to the Malaysian Personal Data Protection Act, 2010 (PDPA,2010), this privacy policy provides for the Tunku Abdul Rahman University College’s (TAR UC) uses and secure any personally identifiable information 
                            that you (the User) may have given to the TAR UC during your use of Fitness Companion (the mobile app) herein. The TAR UC is committed to ensure the personal data security of all Users as required under the laws in Malaysia generally 
                            and the PDPA, 2010 specifically. The mobile, being an open environment, necessitates that the TAR UC shall not be able to guarantee and warrant that all data collected shall not be accessed, copied, disclosed, altered or otherwise tampered with.
                            This Privacy Policy outlines the TAR UC commitment to the safeguard and treatment of the users’ personal data pursuant to the PDPA, 2010. 
                        </p>
                        <p>
                            <b>Types of data that may be collected</b><br/>
                            Types of data collected may include (but not limited to):
                        <ul>
                            <li>name, email and other related information</li>
                            <li>location and other details</li>
                        </ul>

                        </p>
                        <p>
                            <b>Treatment of collected data</b><br/>
                            By using the mobile app, the User consents that the data collected by TAR UC will be utilised to understand the needs and provide the User with better and more accurate service(s). 
                            The data collected will be utilized in the following manner:
                        <ul>
                            <li>Internal record keeping.</li>
                            <li>For products and services offer and/or improvement</li>
                            <li>TAR UC may from time to time send promotional materialson new or existing products & services, special offers,
                                events or other information that the TAR UC is of the view that you may find interesting using the contact and other details which you have provided.</li>
                            <li>TAR UC may also use your information to contact you for market research and surveys purposes.</li>
                            <li>Any other marketing and promotional activities that the TAR UC is of the view that you may find interesting using the details which you have provided.</li>
                        </ul>
                        The TAR UC shall not sell, distribute, lease or otherwise disclose any data collected herein to any other third parties save and except as outlined above or permitted by
                        the User or is required by law to do so. The User’s personal information may be utilised by TAR UC to send promotional information about third parties 
                        which TAR UC is of the view that User may find interesting if the User allows for the same. 
                        Under no circumstances will the data collected be sold or manipulated in any way and for any 
                        other commercial reasons except as disclosed herein above.
                        </p>
                        <p>
                            <b>Security</b>
                            The TAR UC is committed to ensuring that any personal information collected is secured.
                            In order to prevent unauthorised access or disclosure,the TAR UC has put in place, as the present resources and knowledge so permit, suitable
                            and reasonable physical, electronic and processes to safeguard and secure the said information.
                        </p>
                        <p>
                            <b>Links to other websites or apps</b><br/>
                            The mobile app may contain links to other websites of interest or apps. 
                            Please note that the TAR UC do not have any control over that other Third Party website or app. 
                            Therefore, The TAR UC cannot be responsible for the protection and privacy of any information which the User provided whilst visiting such sites/apps and such sites/apps are not governed by this privacy statement.
                        </p>
                        <p>
                            <b>Controlling of personal information</b><br/>
                            The User may choose to restrict the collection or use of your personal information in the following ways:
                        <ul>
                            <li>whenever the User is asked to fill in a form on the website, check the box provided to disallow consent for the information to be provided to be used by anybody for direct marketing purposes</li>
                            <li>if the User has previously agreed to TAR UC using the personal information collected, the User may change his mind at any time by writing to or emailing the same to pdpa@tarc.edu.my</li>
                        </ul>
                        The User may request details of personal information which the TAR UC holds about the User under the PDPA, 2010 by sending such request via email to pdpa@tarc.edu.my An administrative fee shall be payable.
                        In the event the User believes that any information of the User envisaged herein in the TAR UC’s possession is incorrect, inaccurate and or incomplete, please write to or email the TAR UC as soon as possible,
                        at the above address or pdpa@tarc.edu.my for the TAR UC’s immediate and prompt action.
                        </p>
                    </div>



                </div>
            </div>
        </section>







        <section class="bg-dark text-white">
            <div class="container text-center">
                <h2 class="mb-4">  Copyright © Fitness Companion 2015-2018</h2>
            </div>
        </section>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Account Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a href="../Login/managementLogin.html"><button class="btn btn-xs btn-primary btn-lg btn-block">Management</button></a><br/>
                        <a href="../Login/trainerLogin.html"> <button class="btn btn-xs btn-primary btn-lg btn-block">Trainer</button></a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/creative.min.js"></script>

    </body>

</html>
